In [1]:
#import pandas package and dataset
import pandas as pd
df=pd.read_csv('raw-material-properties.csv')

In [2]:
#datatypes of each attributes
print(df.dtypes)
print(df.info())

Sample       object
size1       float64
size2       float64
size3       float64
density1    float64
density2    float64
density3    float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sample    36 non-null     object
 1   size1     35 non-null     float64
 2   size2     35 non-null     float64
 3   size3     35 non-null     float64
 4   density1  26 non-null     float64
 5   density2  26 non-null     float64
 6   density3  26 non-null     float64
dtypes: float64(6), object(1)
memory usage: 2.1+ KB
None

In [3]:
#Print head and tail of the dataset
print(df.head())
print(df.tail())

   Sample  size1  size2  size3  density1  density2  density3
0  X12558  0.696   2.69   6.38      41.8     17.18      3.90
1  X14728  0.636   2.30   5.14      38.1     12.73      3.89
2  X15468  0.841   2.85   5.20      37.6     13.58      3.98
3  X21364  0.609   2.13   4.62      34.2     11.12      4.02
4  X23671  0.684   2.16   4.87      36.4     12.24      3.92
    Sample  size1  size2  size3  density1  density2  density3
31  X57095  0.662   2.34   4.71      35.0     12.37      3.90
32  X57128  0.749   2.43   5.16      37.3     13.04      3.92
33  X61870  0.598   2.21   4.90       NaN       NaN       NaN
34  X61888  0.619   2.59   5.81       NaN       NaN       NaN
35  X72736  0.693   2.05   5.02      39.6     15.55      3.94

In [4]:
#find missing values and count for each columns
print(df.isna())
print(df.isna().sum())

    Sample  size1  size2  size3  density1  density2  density3
0    False  False  False  False     False     False     False
1    False  False  False  False     False     False     False
2    False  False  False  False     False     False     False
3    False  False  False  False     False     False     False
4    False  False  False  False     False     False     False
5    False  False  False  False     False     False     False
6    False  False  False  False     False     False     False
7    False  False  False  False      True      True      True
8    False  False  False  False      True      True      True
9    False  False  False  False     False     False     False
10   False  False  False  False      True      True      True
11   False  False  False  False      True      True      True
12   False  False  False  False      True      True      True
13   False  False  False  False     False     False     False
14   False  False  False  False     False     False     False
15   False  False  False  False     False     False     False
16   False  False  False  False     False     False     False
17   False  False  False  False     False     False     False
18   False  False  False  False     False     False     False
19   False  False  False  False     False     False     False
20   False   True   True   True     False     False     False
21   False  False  False  False     False     False     False
22   False  False  False  False      True      True      True
23   False  False  False  False     False     False     False
24   False  False  False  False      True      True      True
25   False  False  False  False     False     False     False
26   False  False  False  False     False     False     False
27   False  False  False  False     False     False     False
28   False  False  False  False     False     False     False
29   False  False  False  False      True      True      True
30   False  False  False  False     False     False     False
31   False  False  False  False     False     False     False
32   False  False  False  False     False     False     False
33   False  False  False  False      True      True      True
34   False  False  False  False      True      True      True
35   False  False  False  False     False     False     False
Sample       0
size1        1
size2        1
size3        1
density1    10
density2    10
density3    10
dtype: int64

In [5]:
#Finding percentage of missing values in each column
round(df.isnull().sum() * 100 / len(df),2)

Sample       0.00
size1        2.78
size2        2.78
size3        2.78
density1    27.78
density2    27.78
density3    27.78
dtype: float64

In [6]:
#filling the missing values
data=df.fillna('mis')
data.tail()

    Sample  size1 size2 size3 density1 density2 density3
31  X57095  0.662  2.34  4.71     35.0    12.37      3.9
32  X57128  0.749  2.43  5.16     37.3    13.04     3.92
33  X61870  0.598  2.21   4.9      mis      mis      mis
34  X61888  0.619  2.59  5.81      mis      mis      mis
35  X72736  0.693  2.05  5.02     39.6    15.55     3.94

In [7]:
#check for duplicated values
print(df.duplicated().sum())

0

In [8]:
#removing duplicated rows
print(df.drop_duplicates(inplace=True))
df.duplicated().sum()

None

0

In [9]:
print(df.dropna(inplace=True))
print(df)

None
    Sample  size1  size2  size3  density1  density2  density3
0   X12558  0.696   2.69   6.38      41.8     17.18      3.90
1   X14728  0.636   2.30   5.14      38.1     12.73      3.89
2   X15468  0.841   2.85   5.20      37.6     13.58      3.98
3   X21364  0.609   2.13   4.62      34.2     11.12      4.02
4   X23671  0.684   2.16   4.87      36.4     12.24      3.92
5   X24055  0.762   2.81   6.36      38.1     13.28      3.89
6   X24905  0.552   2.34   5.03      41.3     16.71      3.86
9   X28690  0.610   2.10   4.18      35.0     12.15      3.86
13  X33943  0.537   2.23   5.41      35.2     11.34      3.99
14  X35035  0.702   2.05   5.10      34.2     10.54      4.02
15  X39223  0.768   2.51   5.09      34.9     12.55      3.90
16  X40503  0.714   2.56   6.03      35.6     12.20      4.02
17  X41400  0.621   2.42   5.10      38.7     14.27      3.98
18  X42988  0.726   2.11   4.69      37.1     13.14      3.98
19  X44749  0.698   2.36   5.40      36.6     12.16      4.01
21  X46965  0.759   2.47   4.83      38.7     14.83      3.89
23  X50678  0.716   2.29   5.45      37.3     13.70      3.92
25  X53925  0.598   2.12   4.69      37.9     13.45      3.78
26  X54254  0.700   2.47   5.22      38.8     14.72      3.92
27  X54272  0.957   2.96   7.37      36.2     13.38      4.20
28  X54394  0.759   2.66   5.36      35.2     12.19      3.98
30  X56952  0.646   2.38   4.51      40.1     15.68      3.86
31  X57095  0.662   2.34   4.71      35.0     12.37      3.90
32  X57128  0.749   2.43   5.16      37.3     13.04      3.92
35  X72736  0.693   2.05   5.02      39.6     15.55      3.94

In [10]:
#replacing 'mis' values into '17' in 'density2'
for x in range(0,len(data['density2']),1):
    if data.loc[x,'density2'] == 'mis':
        data.loc[x,'density2'] = 17
        
data.tail()

    Sample  size1 size2 size3 density1 density2 density3
31  X57095  0.662  2.34  4.71     35.0    12.37      3.9
32  X57128  0.749  2.43  5.16     37.3    13.04     3.92
33  X61870  0.598  2.21   4.9      mis       17      mis
34  X61888  0.619  2.59  5.81      mis       17      mis
35  X72736  0.693  2.05  5.02     39.6    15.55     3.94

In [11]:
#replacing 'mis' values into '17' in 'density2'
for x in range(0,len(data['density1']),1):
    if data.loc[x,'density1'] == 'mis':
        data.drop(x,inplace=True)
        
data.tail()

    Sample  size1 size2 size3 density1 density2 density3
28  X54394  0.759  2.66  5.36     35.2    12.19     3.98
30  X56952  0.646  2.38  4.51     40.1    15.68     3.86
31  X57095  0.662  2.34  4.71     35.0    12.37      3.9
32  X57128  0.749  2.43  5.16     37.3    13.04     3.92
35  X72736  0.693  2.05  5.02     39.6    15.55     3.94