In [1]:
#import libraries and dataset
import pandas as pd
data=pd.read_csv('train.csv')

In [2]:
#Dimension of the dataset
data.shape

(8523, 12)

In [3]:
# label encoding on Outlet_Loaction_Tier that has three unique groups. 
data['Outlet_Location_Type_Encoded'] = data['Outlet_Location_Type'].replace({'Tier 1': 1,
                                                        'Tier 2': 2, 'Tier 3': 3}) 
data[['Outlet_Location_Type', 'Outlet_Location_Type_Encoded']].head()

  Outlet_Location_Type  Outlet_Location_Type_Encoded
0               Tier 1                             1
1               Tier 3                             3
2               Tier 1                             1
3               Tier 3                             3
4               Tier 3                             3

In [4]:
#One hot encoding
Outlet_Type_Dumm = pd.get_dummies(data=data['Outlet_Type'], columns=['Outlet_Type'], drop_first=True)
pd.concat([data['Outlet_Type'], Outlet_Type_Dumm], axis=1).head()

         Outlet_Type  Supermarket Type1  Supermarket Type2  Supermarket Type3
0  Supermarket Type1                  1                  0                  0
1  Supermarket Type2                  0                  1                  0
2  Supermarket Type1                  1                  0                  0
3      Grocery Store                  0                  0                  0
4  Supermarket Type1                  1                  0                  0

In [5]:
#binning
groups = ['Low', 'Med', 'High', 'Exp']
data['Item_MRP_Bin_qcut'] = pd.qcut(data['Item_MRP'], q=4, labels=groups)
print(data[['Item_MRP', 'Item_MRP_Bin_qcut']].head())

# Count of each category 
pd.DataFrame(data['Item_MRP_Bin_qcut'].value_counts())

   Item_MRP Item_MRP_Bin_qcut
0  249.8092               Exp
1   48.2692               Low
2  141.6180               Med
3  182.0950              High
4   53.8614               Low

      Item_MRP_Bin_qcut
Low                2131
Med                2131
Exp                2131
High               2130

In [6]:
#Text extraction
data['Item_Code'] = data['Item_Identifier'].apply(lambda x: x[0:2])
data[['Item_Identifier', 'Item_Code']].head()

  Item_Identifier Item_Code
0           FDA15        FD
1           DRC01        DR
2           FDN15        FD
3           FDX07        FD
4           NCD19        NC

# Frequency Encoding

In [7]:
# Frequency encoding using value_counts function
Item_Type_freq = data['Item_Type'].value_counts(normalize=True)

# Mapping the encoded values with original data
data['Item_Type_freq'] = data['Item_Type'].apply(lambda x : Item_Type_freq[x])
print('The sum of Item_Type_freq variable:', sum(Item_Type_freq)) 
data[['Item_Type', 'Item_Type_freq']].head(6)

The sum of Item_Type_freq variable: 1.0

               Item_Type  Item_Type_freq
0                  Dairy        0.080019
1            Soft Drinks        0.052212
2                   Meat        0.049865
3  Fruits and Vegetables        0.144550
4              Household        0.106770
5           Baking Goods        0.076030

 # Aggregation Features

In [8]:
# Performing the groupby function on any categorical variable and perform any aggregation function like mean, median, mode, count, etc.
data['Item_Outlet_Sales_Mean'] = data.groupby(['Item_Identifier', 
                             'Item_Type'])['Item_Outlet_Sales'].transform(lambda x: x.mean())
data[['Item_Identifier','Item_Type','Item_Outlet_Sales','Item_Outlet_Sales_Mean']].tail()

,Item_Identifier,Item_Type,Item_Outlet_Sales,Item_Outlet_Sales_Mean
8518,FDF22,Snack Foods,2778.3834,3232.542225
8519,FDS36,Baking Goods,549.2850,2636.568000
8520,NCJ29,Health and Hygiene,1193.1136,1221.521067
8521,FDN46,Snack Foods,1845.5976,2067.752867
8522,DRG01,Soft Drinks,765.6700,1225.072000